{% extends 'base.html' %}
{% block content %}
<form action="#" method="post">
        <div id="survey_options">
            <input type="text" name="page_1" class="survey_options" size="50" placeholder="page url">
        </div>
        <div class="controls">
            <a href="#" id="add_more_fields"><i class="fa fa-plus"></i>Add Page</a>
            <a href="#" id="remove_fields"><i class="fa fa-minus"></i>Remove page</a>
        </div>
        <input type="submit" value="submit"/>
    </form>
{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='js/script.js')}}"></script>
{% endblock %}
